body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .gTitolo{
    background-color: rgb(15, 7, 36);
  }  
  .bar {
    background-clip: border-box;
    overflow: hidden;
    background-color: #215;
    top:0;
    left:0;
    position:sticky;
    width: 100%;
    z-index: 2;
  }
  
  .bar a {
    float: left;
    font-size: 140%;
    color: white;
    text-decoration: solid;
    text-align: center;
    padding: 1.5% 1.8%;
    text-decoration: none;
  }
  .bar :hover{
    background-color:red;
    animation: fadeIn .3s;
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
  }
  /* #si{
    color:transparent;
    resize: both;
    text-align: center;
    z-index: 1;
    font-style: italic;
    position:absolute;
    font-size: 2000%;
    padding-left: 15%;
    padding-top: 6%;
  } */
  .txtimg{
    background-color: rgb(43, 29, 87);
  }

  video{
    /* transform: translate(-50%, -50%); */
    /* top: 50%;
    left: 50%; */
    /* display: block; */
    margin: auto;
    position:sticky;
    overflow: scroll;
    /* z-index: 0; */
    width: 100%;
  }
  #videoback {
    filter:brightness(30%);
    
  }
  .grandeTesto{
    text-align: center;
    color:white;
    resize: both;
    z-index: 1;
    font-size: 200%;
    font-style: italic;
  }
  p{
    color:white;
    font-size: 100%;
    /* user-select: none; */
  }
  #divideo{
     background-color: rgb(0,0,0,0.2);
     text-align: center;
  }

  .imgDestra{
    float:right;
    display:flex; 
    margin-right:2.5%;
    scale: 100%;

  }
  .testoImg{
    background-color: rgb(43, 29, 87);
    padding: 3%;
  }